@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,100);

body{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #222;
    margin:0;
    background: #f6f6fa;
}

a{
    color: #36f;
    text-decoration: none;
}

button{
    border:none;
    border-radius: 3px;
    margin:10px;
    font-size: 1.1em;
    font-weight: bold;
    color: #3080dd;
}

.user{
    position: relative;
    margin: 10px;
    box-shadow: 0 2px 7px -2px rgba(0,0,0,0.5);
    border-radius: 1px;
    background: white;
    transition: all 0.25s cubic-bezier(.29,.7,0,.99);
    height: 80px;
    overflow: hidden;
}

.user button.remove{
    position: absolute;
    bottom: 0;
    right:0;
}


.user .name{
    font-size: 1.2em;
    margin: 10px;
}

.user.selected{
    margin: 5px 0;
    padding: 10px;
    height: calc(100vw + 50px);
}

.user.deleted{
    height: 0px;
    padding: 0px;
    opacity: 0;
    margin-top: -10px;
}

.user.deleted:first-child{
    margin-top: 0;
}

.user.selected img{
    display: block;
    width: 100%;
    height: auto;
}

.user .extra{
    opacity: 0;
    transition: all 0.25s cubic-bezier(.29,.7,0,.99);
}

.user.selected .extra{
    opacity: 1;
}

.user img{
    transition: all 0.25s cubic-bezier(.29,.7,0,.99);
}

.user img{
    width:80px;
    vertical-align: middle;
}

.user label{
    padding-right: 3px;
}

.user .details{
    display: inline-block;
    vertical-align: middle;
    margin: 5px;
}

.user p{
    margin: 3px 0;
}

.user .primary label{
    text-transform: capitalize;
    font-size: 1.2em;
}

.user .extra{
    color: gray;
    font-size: 0.9em;
}