@import nib;

*{
    box-sizing: border-box;
}

body{
    font-family: arial;
}

h1{
    margin: 0;
    padding: 10px;
    font-size: 1.7em;
    text-shadow: 0 3px 3px rgba(0,0,0,0.3);
}

header{
    position: fixed;
    top: 0;
    left:0;
    right:0;
    height: 50px;
    display:flex;
    align-items: center;
    box-shadow: 0 3px 3px rgba(0,0,0,0.3);
    z-index: 2;
}

header img{
    height: 70px;
    filter: drop-shadow(0 3px 3px 0,0,0,0.3);
    -webkit-filter: drop-shadow(0 3px 1px rgba(0,0,0,0.3));
    -moz-filter: drop-shadow(0 3px 1px rgba(0,0,0,0.3));
}

header h1{
    display: inline-block;
}

button{
    border: solid 1px #C80;
    background: #EA0;
    padding: 8px;
    border-radius: 2px;
    box-shadow: 0 3px 3px rgba(0,0,0,0.3);
    font-size: 1em;
    font-weight: bold;
    text-transform: uppercase;
}

header button.reset{

}

.errors{
    display: inline-block;
    color: red;
    padding: 10px;
}

.code, .output{
    position:fixed;
    top:50px;
    left:0;
    width: 50%;
    bottom:0;
    border: solid 1px #bbb;
}

.preamble{
    height: 50px;
    border-bottom: solid 1px #bbb;
    position: relative;
}

.preamble.expanded{
    height: 400px;
}

.preamble > span{
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    z-index: 5;
    padding: 12px;
    font-size: 1.3em;
    text-align: center;
    background: rgba(255,255,255,0.7);
}

.preamble.expanded > span{
    display: none;
}

.preamble .CodeMirror{
    height: 100%;
}

.output{
    left:50%;
    padding:10px;
    overflow: auto;
}

.CodeMirror{
    height: 100%;
    height: calc(100% - 50px);
}

.preamble.expanded + .CodeMirror{
    height: calc(100% - 400px);
}


.code.hasError{
    box-shadow: 0 0 15px 5px rgba(255,0,0,0.5);
}