*{
    box-sizing: border-box;
}

h1{
    margin: 0;
    padding: 10px;
    font-size: 1.5em;
}

header{
    position: fixed;
    top: 0;
    left:0;
    right:0;
    height: 50px;
}

.code, .output{
    position:fixed;
    top:50px;
    left:0;
    width: 50%;
    bottom:0;
    border: solid 1px #bbb;
}

.output{
    left:50%;
    padding:10px;
}

.CodeMirror{
    height: 100%;
}